#linkovi {
    width: 20%;
    position: absolute;

}
a {
    width:100%;
    height: 20px;
    border: solid blue 2px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    margin: 5px;
}

a:visited {
    color: blue;
}

a:hover {
    background-color: blue;
    color: white;
    border: blue;
    font-weight: bold;
    padding: 5px;
}



h1 {
    text-align: center;
}

h1::before, h1::after {
    content: "";
    background-image: url(./flower.png);
    background-size: 1em;
    height: 1em;
    width: 1em;
    display: inline-block;
}

main {
    position: relative;
}

#sadrzaj {
    width: 70%;
    position: absolute;
    right: 0;
}

#sadrzaj a {
    width: 80%;
}

.vezba {
    padding: 5px;
    width: 80%;
    font-style: italic;
    background-color: rgba(255, 255, 125, 0.5);
}
